
.photo-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.photo-card__photo {
  width: 280px;
  min-height: 180px;
  overflow: hidden;
}

.photo-card__photo img {
  width: 100%;
  height: auto;
}


/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .photo-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 300px;
    min-height: 455px;
  }

  .photo-card__photo {
    width: 300px;
    min-height: 300px;
    overflow: hidden;
  }

}

/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .photo-card {
    min-height: 555px;
    margin: 26px 0;
  }

}


