
.photo-intro__tagline {
  padding: 45px 0 50px;
  line-height: 30px;
  text-align: center;
}

.photo-intro__tagline p {
  margin: 0;
}

.photo-intro__panorama-photo {
  position: relative;
  margin: 0 auto;
}

.photo-intro__panorama-title {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 6px 20px;
  color: $text-color-2;
  background-color: $text-color-3;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo-intro__panorama-photo img {
  width: 100%;
  height: auto;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .photo-intro__tagline {
    @include medium-tagline

    padding: 92px 60px 78px;
  }

  .photo-intro__tagline p {
    display: inline-block;
    vertical-align: baseline;
  }

  .photo-intro__vanishing {
    display: none;
  }

  .photo-intro__panorama-photo {
    position: relative;
    overflow: hidden;
    text-align: center;
    max-width: $tablet-max-widths;
  }

  .photo-intro__panorama-title {
    position: absolute;
    top: 55px;
    right: 40px;
  }

}


/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .photo-intro__vanishing {
    display: inline;
  }

  .photo-intro__tagline {
    @include medium-tagline

    padding: 92px 60px 90px;
  }

  .photo-intro__panorama-photo {
    max-width: $desktop-max-widths;
    position: relative;
    margin: 0 auto;
  }

  .photo-desc--panorama {
    padding: 20px 30px;
  }

}
