
body {
  background: $body-bg;
  outline: 1px solid gray;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: $text-color-1;
  min-width: 320px;

  @media #{$tablet-widths} {
    background: rgba(200,100,0,0.2);
  }

  @media #{$desktop-widths} {
    background: rgba(10,100,100,0.1);
  }
}


body > * > *
{
  outline: 1px solid red;

  & > * {
    outline: 1px solid blue;

    & * {
      outline: 1px dotted gray;
    }
  }
}


.container {
  box-sizing: border-box;

  width: 280px;
  min-width: 280px;
  // заменить на margin: auto;
  margin-left: 20px;
  margin-right: auto;

  @media #{$tablet-widths} {
    width: 620px;
    min-width: 620px;
    // заменить на margin: auto;
    margin-left: 40px;
    margin-right: auto;
  }

  @media #{$desktop-widths} {
    width: 940px;
    min-width: 940px;
    // заменить на margin: auto;
    margin-left: 130px;
    // margin-right: auto;
    outline: 1px solid green;
  }

}

img {
  vertical-align:bottom
}

.hidden {
  display: none;
}

.visually-hidden {
  @include visually-hidden
}

.inactive {
  color: $br-color-2-inactive;
  border-color: $br-color-2-inactive;
}

