
body {
  background: $body-bg;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: $text-color-1;
  min-width: 320px;
}


// body > * > *
// {
//   outline: 1px solid red;

//   & > * {
//     outline: 1px solid blue;

//     & * {
//       outline: 1px dotted gray;
//     }
//   }
// }


// .container {
//   box-sizing: border-box;
//   position: relative;

//   width: 280px;
//   margin-left: auto;
//   margin-right: auto;

//   @media #{$tablet-widths} {
//     width: 620px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   @media #{$desktop-widths} {
//     width: 940px;
//     margin-left: auto;
//     margin-right: auto;
//   }

// }

.container {
  box-sizing: border-box;
  position: relative;

  width: $mobile-inner-width;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet-widths} {
    width: $tablet-inner-width;
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$desktop-widths} {
    width: $desktop-inner-width;
    margin-left: auto;
    margin-right: auto;
  }

}

img {
  vertical-align:bottom;
  max-width: 100%;
}

.hidden {
  display: none;
}

.visually-hidden {
  @include visually-hidden
}

.inactive {
  color: $br-color-2-inactive;
  border-color: $br-color-2-inactive;
}



//////////////////////////
.page-photo {
  background-color: $main-bg-color-1;
}
