

@mixin angle {
  content: "";
  position: absolute;
  top: 0;
}

@mixin oblique-angle {
  @include angle

  left: 0;
  width: 100%;
  background-image: linear-gradient(to top left, $bg-color-block-1 49%, $bg-color-block-0 50% );
}

@mixin oblique-angle-map-l ($border-sharp: 50%) {
  @include angle

  left: 0;
  width: 50%;
  background-image: linear-gradient(to top right, transparent 49%, $bg-color-block-0 $border-sharp );
}

@mixin oblique-angle-map-r ($border-sharp: 50%) {
  @include angle

  right: 0;
  width: 50%;
  background-image: linear-gradient(to top left, transparent 49%, $bg-color-block-0 $border-sharp );
}

@mixin mobile-title {
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
}

@mixin tagline ($margin-top: 20px, $margin-bottom: 30px) {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  padding: 0 20px;
}

@mixin medium-tagline {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}

@mixin big-tagline {
  display: block;
  font-size: 40px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
}

@mixin indicators {
  margin: 35px auto;
  font-size: 0;
}

@mixin indicator {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

@mixin indicator-hover {
  @include indicator
  background-color: #7e868f;
}

@mixin indicator-press {
  @include indicator
  background-color: $social-br;
}

@mixin indicator-active {
  background-color: transparent;
  border: 3px solid #283645;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 0;
}

@mixin line-height($font-size, $line-height) {
  font-size: $font-size + "px";
  line-height: ($line-height / $font-size) + "em";
}

@mixin inline-block($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

@mixin no-btn {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin visually-view {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  border: auto;
  clip: none;
  overflow: auto;
}

@mixin big-btn {
  box-sizing: border-box;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  padding: 16px;
  border-radius: 30px;
  text-decoration: none;
  outline: none;
  border: none;
}

@mixin submit-btn {
  box-sizing: border-box;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  border: none;
}

@mixin form-border {
  border: 2px solid $br-color-1;
  border-radius: 3px;
}

@mixin form-label {
  font-size: 14px;
  line-height: 30px;
  color: $text-color-3;
  text-transform: uppercase;
}

@mixin form-part {
  border: 2px solid $br-color-1;
  background-color: $bg-color-block-0;
  border-radius: 2px;
  margin-top: 12px;
}

@mixin form-part-tab {
  @include form-part
  padding: 50px 60px 20px;
}

@mixin form-title {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-3;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin form-title-tab {
  @include form-title
  padding: 0 35px;
  background-color: $bg-color-block-0;
}

@mixin pseudo-mark {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 39px;
  height: 39px;
  left: 0;
  top: 0;
  background: $main-bg-color-1;

  @include form-border
}

@mixin placeholder {
  // content: "";
  // position: absolute;
  // display: flex;
  // align-items: center;
  // width: 90%;
  // height: 60px;
  // font-family: "Open Sans", "Arial", sans-serif;
  // font-size: 18px;
  // line-height: 30px;
  // text-transform: none;
  // color: $text-color-1;
  // padding-left: 20px;
  // z-index: 2;
}

@mixin form-title-box-tab {
  position: absolute;
  width: 100%;
  top: -8px;
  text-align: center;
  padding: 0;
}

@mixin form-imput {
  @include form-border

  box-sizing: border-box;
  background: $main-bg-color-1;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
  color: $text-color-1;
}

@mixin form-imput-desktop {
  @include form-border

  box-sizing: border-box;
  background: $main-bg-color-1;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
  color: $text-color-1;
}
