
.achievement  {
  background-color: $bg-color-block-1;
  padding-bottom: 5px;
}

.achievement__title-box {
  padding: 35px 0 40px;
  text-align: center;
}

.achievement__title {
  @include form-title
}

.achievement__item label {
  position: relative;
  display: block;
  padding: 4px 0 48px 70px;
}

.achievement__item label:before {
  @include pseudo-mark
}

.achievement__item label:hover:before {
  border-color: $text-color-1;
}

.achievement__checkbox:checked + label:before {
  background: $bg-color-block-0 url("../img/icon-yes-pink.svg") 93% 50% no-repeat;
  background-size: 22px;
  background-position: 50%;
  border-color: $text-color-3;
}

.achievement__checkbox:checked + label:hover:before {
  border-color: $text-color-1;
}

.achievement__checkbox:checked + label:active:before {
  background: transparent;
  border-color: $text-color-3;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .achievement  {
    background-color: $bg-color-block-0;
    order: 4;
  }

  .achievement__inner-part {
    @include form-part-tab
  }

  .achievement__title-box {
    @include form-title-box-tab
  }

  .achievement__title {
    @include form-title-tab
  }

  .achievement__item label {
    padding-left: 60px;
  }

}

/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .achievement {
    background-color: $bg-color-block-0;
    order: 4;
  }

  .achievement__inner-part {
    padding: 30px 0 30px;
    height: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .achievement__item {
     margin-top: 20px;
     margin-bottom: 25px;
     margin-left: 20px;
     margin-right: 40px;
     padding: 0;
  }

  .achievement__item label {
    padding: 4px;
    margin: 0;
    padding-left: 60px;
  }

}

