
.form-name {
  padding-bottom: 44px;
  text-align: left;
}

.form-name__item  {
  display: flex;
  flex-direction: column-reverse;
}

.form-name__item input {
  flex-grow: 2;
  @include form-imput
}

.form-name__item  input:hover {
  border-color: $text-color-1;
}

.form-name__item  input:focus {
  border-color: $text-color-3;
  outline: none;
}

.form-name__item  label {
  @include form-label

  margin: 17px 20px 5px;
  position: relative;
}


/* Tablet */

@media #{$tablet-widths} {

  .form-name {
    padding-bottom: 0;
    order: 1;
  }

  .form-name__item  {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 53px;
  }

  .form-name__item  label {
    margin: auto 0;
    margin-right: 20px;
  }

}


/* Desktop */

@media #{$desktop-widths} {

  .form-name {
    width: 435px;
    padding: 0;
    padding-top: 15px;
    margin-right: 70px;
  }

  .form-name .container {
    width: auto;
  }

  .form-name__item input {
    @include form-imput-desktop
  }

}
