.form-os {
  background-color: $bg-color-block-1;
  padding-bottom: 5px;
}

.form-os__title-box {
  padding: 35px 0 35px;
  text-align: center;
}

.form-os__title {
  @include form-title
}

.form-os label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  padding-left: 70px;
}

.form-os__item {
  padding: 0 0 41px;
}

.form-os label:before {
  @include pseudo-mark

  border-radius: 50%;
}

.form-os label:hover:before {
  border-color: $text-color-1;
}

.form-os .radio:checked + label:before {
  border-color: $text-color-3;
}

.form-os .radio:checked + label:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 12px;
  top: 12px;
  background: $text-color-3;
  border-radius: 50%;
  z-index: 3;
}

.form-os .radio:checked + label:hover:before {
  border-color: $text-color-1;
}

.form-os .radio:checked + label:active:before {
  border-color: $text-color-3;
}

.form-os .radio:checked + label:active:after {
  background: transparent;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .form-os {
    order: 2;
    padding: 0;
    background-color: $bg-color-block-0;
  }

  .form-os__inner {
    @include form-part-tab
    padding-bottom: 16px;
  }

  .form-os label {
    padding-left: 60px;
  }

  .form-os__item {
    padding-bottom: 38px;
  }

  .form-os__title-box {
  @include form-title-box-tab
}

 .form-os__title {
  @include form-title-tab
}

}


/////////////// Desktop /////////////////////

@media #{$desktop-widths} {
  .form-os {
    width: auto;
    padding: 0;
    padding-top: 3px;
    flex-grow: 2;
  }

 .form-os .container {
  width: auto;
  margin: 0;
 }

  .form-os__inner {
    @include form-part-tab
    padding-bottom: 16px;
    padding-left: 75px;
  }

}
