
.advantage {
  text-align: center;
  padding-top: 20px;
}

.advantage__tagline p {
  @include tagline
}

.advantage__wrapper {
  position: relative;
  margin-top: 30px;
  padding: 85px 20px 280px;
  background: $bg-color-block-1  url("../img/iphone-screen-mobile@1x.png") 50% 110% no-repeat;
}

.advantage__wrapper:before {
  @include oblique-angle

  height: 30px;
}

.advantage__card {
  margin-bottom: 35px;
}

.advantage__title {
  @include mobile-title
}

.advantage__text {
  font-size: 14px;
  line-height: 24px;
}

.advantage__effect {
  display: none;
}



/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

.advantage {
  text-align: left;
  padding-top: 50px;
  background-color: $body-bg;
}

.advantage__tagline p {
  @include big-tagline

  padding: 0 50px;
  margin: 0;
}

.advantage__tagline p {
  @include big-tagline

  padding: 0;
  margin: 0;
}

.advantage__tagline p+p {
  padding: 0 100px;
  margin: 0;
}

.advantage__wrapper {
  position: relative;
  margin-top: 30px;
  height: 407px;
  padding: 0;
  padding-top: 94px;
  padding-left: 50%;
  padding-right: 40px;
  background: $bg-color-block-1;
  background-image: none;
}

.advantage__wrapper:before {
  height: 58px;
}

.advantage__wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 10% -50%;
  background-size: 38%;
  top: 0;
  left: 0;

}

.advantage__card {
  text-align: left;
}

.advantage__effect {
  display: block;
  height: 410px;
  padding-top: 94px;
  padding-left: 50%;
  padding-right: 40px;
  background: $bg-color-block-0;
}

.advantage__effect-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  padding-right: 100px;
}






}
