
.form__item input {
  @include form-border

  box-sizing: border-box;
  background: $main-bg-color-1;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
  color: $text-color-1;
}

.form__part-title {
  @include form-title
}


/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

.no-mobile-fieldset {
  border: 2px solid $br-color-1;
}

.no-mobile-legend {
  @include form-label
  margin: 0 auto;
  padding: 0 25px;
}

.no-mobile-fieldset .form__item {
  margin: 0 42px;
}

.form__part {
  background-color: $bg-color-block-0;
  border-radius: 2px;
}

}
