.form__section--os {
  background-color: $bg-color-block-1;
  padding-bottom: 5px;
}

.form__part-title-box--os {
  padding: 35px 0 35px;
}


.form__part--os label {
  position: relative;
  display: block;
  padding: 4px 0 41px 70px;
}

.form__part--os label:before {
  @include pseudo-mark

  border-radius: 50%;
}

.form__part--os .radio:checked + label:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 12px;
  top: 12px;
  background: $text-color-3;
  border-radius: 50%;
  z-index: 3;
}


/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .form__section--os {
    order: 2;
    padding: 0;
    background-color: $bg-color-block-0;
  }

  .form__part--os {
    @include form-part-tab
  }

  .form__part--os label {
    padding: 4px 0 41px 60px;
  }

}



/////////////// Desktop /////////////////////

@media #{$desktop-widths} {
  .form__section--os {
    width: auto;
    padding: 0;
    padding-top: 3px;
    flex-grow: 2;
  }

 .form__section--os .container {
  width: auto;
 }



.form__part--os label {
  padding: 4px 0 40px 60px;
  margin-left: 15px;
}


}
