
.form__section--name {
  padding-bottom: 44px;
  text-align: left;
}

.form__item--name {
  display: flex;
  flex-direction: column-reverse;
}

.form__item--name input {
  flex-grow: 2;
}

.form__item--name input:hover {
  border-color: $text-color-1;
}

.form__item--name input:focus {
  border-color: $text-color-3;
  outline: none;
}

.form__item--name label {
  @include form-label

  margin: 17px 20px 5px;
  position: relative;
}

.form__item--name label:before {
  @include placeholder

  left: -20px;
  top: 36px;
}

.form__item--name-1 label:before {
  content: "Укажите фамилию";
}

.form__item--name-2 label:before {
  content: "Введите ваше имя";
}

.form__item--name-3 label:before {
  content: "Ну и отчество тоже";
}

.form__item--name input:focus + label:before {
  display: none;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .form__section--name {
    padding-bottom: 0;
    order: 1;
  }

  .form__item--name {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 53px;
  }

  .form__item--name label {
    margin: auto 0;
    margin-right: 20px;
  }

  .form__item--name label:before {

    min-width: 100px;
    min-width: 300px;
    left: 100%;
    margin-left: 20px;
    top: -15px;
  }

}

/////////////// Desktop /////////////////////

@media #{$desktop-widths} {
  .form__section--name {
    width: 435px;
    padding: 0;
    padding-top: 15px;
    margin-right: 70px;
  }

 .form__section--name .container {
  width: auto;
 }

}
