
.form__section--contact {
  padding-top: 13px;
  padding-bottom: 54px;
}

.form__item--contact {
  display: flex;
  flex-direction: column-reverse;
}

.form__item--contact input {
  width: 100%;
  position: relative;
}

.form__item--contact label {
  @include form-label

  box-sizing: border-box;
  position: relative;
  display: block;
  min-height: 51px;
  vertical-align: bottom;
  padding: 15px 0 0 22px;
}

.form__item--contact label:before {
  @include placeholder

  left: 2px;
  top: 52px;
}

.form__item--contact-tel label:before {
  content: "Номер, пожалуйста";
  }

.form__item--contact-email label:before {
  content: "E-mail, пожалуйста";
  }

.form__item--contact input:focus + label:before {
  display: none;
}


@media #{$phone-widths-only} {
  .form__part-title-box--contact {
    @include visually-hidden
  }

}



/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .form__section--contact {
    background-color: none;
    order: 3;
    padding-top: 54px;
    padding-bottom: 52px;
  }

  .form__part--contact {
    @include form-part-tab
    padding: 35px 60px 5px;
  }

  .form__item--contact {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

.form__item--contact label {
    padding: 10px 20px 20px;
    position: relative;
  }

.form__item--contact label:before {
    top: -61px;
  }

.form__item--contact-tel label:before {
    content: "+7 XXX XXX-XX-XX";
  }

.form__item--contact-email label:before {
    content: "Введите почту";
  }

.form__item--contact input:focus + label:before {
    display: none;
  }

.form__item--contact label:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    right: 2px;
    top: -61px;
    background-color: $br-color-1;
    z-index: 2;
  }

}



/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .form__section--contact {
    padding-top: 0;
    padding-bottom: 55px;
    margin: 0;
  }

  .form__part--contact {
    @include form-part-tab
    padding: 40px 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .form__item--contact {
  width: 370px;
  margin: 0;
  padding: 0;
  }

  .form__item--contact label {
    padding: 10px 20px 0px;
    position: relative;
  }

}
