
.emotion {
  padding-top: 60px;
  padding-bottom: 20px;
}

.emotion__title-box {
  padding-bottom: 5px;
  text-align: center;
}

.emotion__title {
  @include form-title
}

.emotion__box {
  position: relative;
}

.emotion__textarea {
  @include  form-border
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $text-color-1;
  padding: 15px 20px;
  max-width: 100%;
  height: 200px;
  background-color: transparent;
  z-index: 4;
}

.emotion__textarea:hover {
  border-color: $text-color-1;
}

.emotion__textarea:focus {
  border-color: $text-color-3;
  outline: none;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .emotion {
    background-color: none;
    order: 5;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 48px;
  }

  .emotion__inner {
    @include form-part-tab
    padding: 45px 60px 45px;
  }


.emotion__title-box {
  @include form-title-box-tab
}

 .emotion__title {
  @include form-title-tab
}

  .emotion__textarea {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    padding: 15px 20px;
    width: 100%;
    height: 190px;
  }

}


/////////////// Desktop /////////////////////

@media #{$desktop-widths} {
  .emotion {
    margin: 0;
    padding-top: 52px;
    padding-bottom: 48px;
  }

  .emotion__inner {
    padding: 45px 60px 35px;
  }

  .emotion__textarea {
    height: 125px;
  }
}
