
.form__section--achievement {
  background-color: $bg-color-block-1;
  padding-bottom: 5px;
}

.form__part--achievement .form__part-title {

  padding: 36px 20px 40px;
}

.achievement label {
  position: relative;
  display: block;
  padding: 4px 0 48px 70px;
}

.achievement label:before {
  @include pseudo-mark
}


.achievement__checkbox:checked + label:before {
  background: $bg-color-block-0 url('../img/icon-yes-pink.svg') 93% 50% no-repeat;
  background-size: 22px;
  background-position: 50%;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .form__section--achievement {
    background-color: $bg-color-block-0;
    order: 4;
  }

  .achievement .no-mobile-fieldset {
    padding-bottom: 0;
  }

  .form__item--achievement label {
    padding-left: 60px;
  }
}
