
.achievement {
  background-color: $bg-color-block-1;
  padding-bottom: 5px;
}

.achievement__title {
  @include form-title

  text-align: center;
  padding: 36px 20px 40px;
}

.achievement label {
  position: relative;
  display: block;
  padding: 4px 0 48px 70px;
}

.achievement label:before {
  @include pseudo-mark
}


.achievement__checkbox:checked + label:before {
  background: $bg-color-block-0 url('../img/icon-yes-pink.svg') 93% 50% no-repeat;
  background-size: 22px;
  background-position: 50%;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .achievement {
    background-color: none;
    order: 4;
  }
}
