
.form__section--achievement {
  background-color: $bg-color-block-1;
  padding-bottom: 5px;
}

.form__part-title-box--achievement {
    padding: 35px 0 40px;
}

.achievement label {
  position: relative;
  display: block;
  padding: 4px 0 48px 70px;
}

.achievement label:before {
  @include pseudo-mark
}

.achievement label:hover:before {
  border-color: $text-color-1;
}

.achievement__checkbox:checked + label:before {
  background: $bg-color-block-0 url("../img/icon-yes-pink.svg") 93% 50% no-repeat;
  background-size: 22px;
  background-position: 50%;
  border-color: $text-color-3;
}

.achievement__checkbox:checked + label:hover:before {
  border-color: $text-color-1;
}

.achievement__checkbox:checked + label:active:before {
  background: transparent;
  border-color: $text-color-3;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .form__section--achievement {
    background-color: $bg-color-block-0;
    order: 4;
  }

  .form__part--achievement {
    @include form-part-tab
    padding: 52px 60px 5px;
  }

  .form__item--achievement {
   margin: 0;
  }

  .form__item--achievement label {
    padding-left: 60px;
    padding-right: 50px;
  }
}

/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .form__section--achievement {
    background-color: $bg-color-block-0;
    order: 4;
  }

  .form__part--achievement {
    @include form-part-tab
    padding: 55px 0 0;
    height: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .form__item--achievement {
   padding-left: 10px;
   margin: 0;
  }

  .form__item--achievement label {
    padding-left: 60px;
    padding-right: 50px;
  }
}

