

.form__part-title {
  @include form-title
}

.form__item input {
  @include form-imput
}


// плейсхолдер
::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}


/////////////// Tablet /////////////////////

@media #{$tablet-widths} {


.emotion__title-box {
  @include form-title-box-tab
}

 .emotion__title {
  @include form-title-tab
}

}


/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

.form__item input {
  @include form-imput-desktop
}


}
