
.main-review {
  position: relative;
  min-height: 200px;
  position: relative;
  padding: 50px 0 5px;
  text-align: center;
  background-color: $body-bg;
}

.main-review__indicators {
  @include indicators
}

.main-review__indicator {
  @include inline-block
  @include no-btn
  @include indicator
}

.main-review__indicator.active,
.main-review__indicator.active:hover,
.main-review__indicator.active:active {
  @include indicator-active
}

.main-review__indicator:hover {
  @include indicator-hover
}

.main-review__indicator:active {
  @include indicator-press
}


.main-review__slider-btns {
  display: none;
}

.main-review__card {
  margin: 0;
}

.main-review__info {
  font-style: normal;
  margin: 0;
}

.main-review__author {
  @include mobile-title
}

.main-review__author-desc {
  display: none;
}

.main-review__text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 18px;

  &:before {
    content: "\ab";
  }

  &:after {
    content: "\bb";
  }
}



/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

.main-review {
  padding: 15px 0;

  &:before {

    height: 58px;
  }
}

.main-review__card {
  display: flex;
  flex-direction: column-reverse;
}

.main-review__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 35px;

  &:before {
    content: "\ab";
  }

  &:after {
    content: "\bb";
  }
}

.main-review__author {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.main-review__author-desc {
  display: block;
  font-size: 14px;
  line-height: 30px;
}

.main-review__indicators {
  @include indicators

  margin-bottom: 6px;
}

}


/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

.main-review {
  min-height: 200px;
  padding: 185px 0 25px;
  background-image: url("../img/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: auto;
  position: relative;
}

.main-review__text {
  position: relative;
  padding: 0 125px;
  margin: 0 0 30px;

  &:before,
  &:after {
    display: none;
  }
}

.main-review__author {
  font-size: 24px;
  line-height: 30px;
  margin: 5px;
}

.main-review__author-desc {
  @include medium-tagline
}

.main-review__indicators {
  @include visually-hidden
}

.main-review__slider-btns {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 125px;
  padding: 0 5px;
}

.main-review__slider-btn {
  @include no-btn

  width: 32px;
  height: 32px;
  border-bottom: 3px solid $br-color-1;
  border-left: 3px solid $br-color-1;
}

.main-review__slider-btn--prev {
  transform: rotate(45deg);
}

.main-review__slider-btn--next {
  transform: rotate(-135deg);
}

.main-review__slider-btn:hover {
  border-bottom: 3px solid #7e868f;
  border-left: 3px solid #7e868f;
}

.main-review__slider-btn:active {
  border-bottom: 3px solid #e9ebec;
  border-left: 3px solid #e9ebec;
}

}
