
.advantage {
  text-align: center;
  padding-top: 20px;
}

.advantage__tagline p {
  @include tagline
}

.advantage__container {
  position: relative;
  padding: 86px 0 282px;
  background-color: $bg-color-block-1;
}

.advantage__container:before {
  @include oblique-angle

  height: 35px;
}

.advantage__card {
  margin-bottom: 35px;
}

.advantage__title {
  @include mobile-title
  color: $text-color-4;
}

.advantage__text {
  font-size: 14px;
  line-height: 24px;
}

.advantage__effect {
  display: none;
}



/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

.advantage {
  padding-top: 50px;
  background-color: $body-bg;
}

.advantage__tagline p {
  @include big-tagline

  padding: 0;
  margin: 0;
}

.advantage__tagline p+p {
  padding: 0 100px;
  margin: 0;
}

.advantage__container {
  position: relative;
  margin-top: 38px;
  padding: 86px 0 5px;
  background: $bg-color-block-1;
}

.advantage__container:before  {
  height: 58px;
  outline: 1px solid red;
}

.advantage__card-container {
  padding: 0;
  padding-left: 310px;
}

.advantage__card-container:before {
  // content: "";
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // background-image: url("../img/iphone-screen-mobile@1x.png");
  // background-repeat: no-repeat;
  // background-position: 10% -22%;
  // background-size: 38%;
  // top: 0;
  // left: 0;
}

.advantage__card {
  text-align: left;
  width: auto;
  margin-bottom: 37px;
}

.advantage__effect {
  display: block;
  text-align: left;
  padding: 94px 5px 96px 310px;
  background: $bg-color-block-0;
  outline: 1px solid red;
  // background: $bg-color-block-0 url("../img/") 0 0 no-repeat;
}

.advantage__effect-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.advantage__effect-title span {
  display: block;
}

.advantage__effect p {
  margin-top: 10px;
  padding: 0;
  line-height: 24px;
}


}


/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

.advantage {
  text-align: left;
  padding-top: 68px;
  background-color: $body-bg;
}

.advantage__tagline p {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.advantage__tagline p+p {
  padding: 0 200px;
}

.advantage__container {
  width: auto;
  height: auto;
  padding: 0;
  background-color: $bg-color-block-1;
}

.advantage__card-container {
  height: auto;
  margin-top: 76px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantage__container:before  {
  height: 94px;
}

.advantage__container:after {
  display: none;
}

.advantage__card {
  box-sizing: border-box;
  width: 300px;
  height: 600px;
  margin: 0;
  padding-top: 355px;
  z-index: 5;
  text-align: center;
}

.advantage__title {
  color: $text-color-4;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
}

.advantage__text {
  @include medium-tagline
  margin: 25px 28px;
}

.advantage__effect-container {
  background: $bg-color-block-1;
}

.advantage__effect {
  background: $bg-color-block-1;
  position: relative;
  display: block;
  padding: 116px 40px 116px 365px;

}

.advantage__effect-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.advantage__effect-title span {
  display: inline;
}

.advantage__effect p {
  @include medium-tagline

  margin-top: 20px;
  padding: 0;
  text-align: left;
}

.advantage__know-more {
  @include medium-tagline

  display: block;
  text-align: left;
  margin-top: 30px;
}


}
