
.like {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.like__indicator {
  margin: 0 18px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-color-3;
}

.like__get-like {
  display: block;
  width: 14px;
  height: 13px;
  background: no-repeat url("../img/icon-heart.svg");
  background-size: cover;
}


/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .like__indicator {
    margin: 0;
    margin-right: 18px;
  }

  .like--panorama {
    position: absolute;
    top: 26px;
    right: 26px;
  }

}

/////////////// Desktop /////////////////////

@media #{$desktop-widths} {
  .like--photo-card {
    padding-right: 5px;
  }
}
