

.main-nav {
 position: absolute;
 width: 100%;
}

.main-nav__toggle {  //кнопка закрытия

}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__item a {
  display: block;
  padding: 15px 20px;
  outline: 1px solid red;
  font-size: 17px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid $main-bg-color-light;
  border-bottom: 1px solid $main-bg-color-dark;
  color: #ffffff;

}
