
.main-review {
  position: relative;
  min-height: 200px;
  position: relative;
  padding:  20px;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;

  &:before {}

  &:after {}

  &:hover {}
}

.main-review * {
  outline: 1px solid red;
}

.main-review__indicators {
  @include indicators
}

.main-review__indicator {
  @include inline-block
  @include no-btn
  @include indicator
}

.main-review__slider {}

.main-review__card {
  margin: 0;
}

.main-review__info {
  font-style: normal;
  margin: 0;
}

.main-review__author {
  @include mobile-title
}

.main-review__autor-desc {
  display: none;
}

.main-review__text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 18px;

  &:before {
    content: "\ab";
  }

  &:after {
    content: "\bb";
  }
}

