
.page-footer {
  background-color: $main-bg-color-1;
  padding: 36px 40px;
  display: flex;
  justify-content: space-between;

}

.page-footer * {
  outline: 1px solid red;
}


.page-footer__logo {
  width: 150px;
  height: 40px;
}

.page-footer__logo img {
  width: 100%;
  height: 100%;
}

.page-footer__copyright {
  width: 150px;
  padding-left: 23px;

}
