
.page-header {
  position: relative;
  background-color: $main-bg-color;
  min-height: 460px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__page-title {
  margin: 0;
  padding: 15px 20px;
  border-top: 1px solid $main-bg-color-light;
  border-bottom: 1px solid $main-bg-color-dark;
}

.page-header__toggle {
 @include no-btn

  width: 50px;
  height: 24px;
  outline: 1px solid red;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: 100% 0 ;
}


.page-header__nav-closed {
  display: none;
}

.page-header__toggle--closed {
 background-image: url("../img/icon-menu-burger.svg");
}

