
.page-header {
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  background-color: $main-bg-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0 ;
  background-size: auto 465px;
  text-align: left;
}

.no-js .page-header {
  background-position: 50% 295px ;
}

.page-header--photo {
  min-height: 240px;
  background-size: 220%;
}

.page-header--form {
  min-height: 240px;
  background-size: 220%;
}

.page-header__top-line {
  background-color: $main-bg-color;
  border-top: 1px solid $main-bg-color-light;
  border-bottom: 1px solid $main-bg-color-dark;
}

.page-header__top-line-container {
  position: relative;
  box-sizing: border-box;
  min-height: 68px;
  padding-bottom: 20px;
}

.page-header--closed .page-header__top-line {
  background-color: $header-top-bg-color;
  border-top: 1px solid $header-top-bg-color;
  border-bottom: 1px solid $header-top-bg-color;
  box-shadow: 0 0 1px $header-top-bg-color;
}

.no-js .page-header--closed .page-header__top-line {
  background-color: $main-bg-color;
}

.page-header__logo {
  position: absolute;

}

.page-header__logo-link:active {
  opacity: 0.3;
}

.page-header__logo-picture {
  position: relative;
}

.page-header__logo-link:hover .page-header__logo-picture {
  visibility: hidden;
}

.page-header__logo-link:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 40px;
  visibility: visible;
  background: transparent url("../img/logo-pink-white-mobile-pink.svg") 0 100% no-repeat;
}

.no-js .page-header__logo-link:hover:before {
  visibility: hidden;
}

.no-js .page-header__logo-link:hover .page-header__logo-picture {
  visibility: visible;
}

.page-header__logo-link:active .page-header__logo-picture {
  visibility: visible;
}

.page-header__logo-link:active:before {
  visibility: hidden;
}

.page-header__toggle {
  @include no-btn

  position: absolute;
  right: 2px;
  top: 24px;
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: 100% 0 ;
}

.no-js .page-header__toggle {
  display: none;
}

.page-header__toggle:hover {
  background-image: url("../img/icon-menu-cross-pink.svg");
}

.page-header--closed .main-nav__list {
  display: none;
}

.no-js .main-nav__list {
  display: block;
}

.page-header--closed .page-header__toggle {
 background-image: url("../img/icon-menu-burger.svg");
}

.page-header--closed .page-header__toggle:hover {
 background-image: url("../img/icon-menu-burger-pink.svg");
}

.page-header__toggle:active {
  opacity: 0.3;
}

.page-header__tagline {
  @include tagline (30px, 0)

  color: $text-color-2;
}


@media (min-resolution: 1.5dppx) {

  .page-header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

}

/* Tablet */

@media #{$tablet-widths} {

  .page-header {
    min-height: 730px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%;
    background-size: cover;
  }

  .page-header--photo {
    min-height: 440px;
    background-size: 157%;
  }

  .page-header--form {
  min-height: 440px;
  background-size: 220%;
  }

  .page-header__logo {
    position: absolute;
    left: 0;
    top: 20px;
  }

  .page-header__logo-link:hover:before {
    background-image: url("../img/logo-pink-white-tablet-pink.svg")
  }

  .page-header__toggle {
    top: 45px;
  }

  .page-header__top-line-container {
    box-sizing: border-box;
    min-height: 110px;
  }

  .page-header__tagline {
    font-size: 50px;
    line-height: 120%;
    font-weight: 300;
    text-align: center;
    margin: 74px auto 0;
    color: $text-color-2;
  }

  .page-header--form .page-header__tagline {
    margin: 68px auto 0;
  }

}

@media #{$tablet-widths} and (min-resolution: 1.5dppx) {

  .page-header {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }

.page-header--index:before {
    background-image: url("../img/iphone-hand-tablet@2x.png");
  }

}

/* Desktop */

@media #{$desktop-widths} {

  .page-header,
  .no-js .page-header {
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;
    background-size: cover;
  }

  .page-header--photo {
  min-height: 394px;
  }

  .page-header--form {
  min-height: 394px;
  }

  .page-header__top-line {
    padding: 0;
    border: none;
  }

  .no-js .page-header--closed .page-header__top-line {
    background-color: $header-top-bg-color;
    border-top: 1px solid $header-top-bg-color;
    border-bottom: 1px solid $header-top-bg-color;
    box-shadow: 0 0 1px $header-top-bg-color;
 }

  .page-header__top-line-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .page-header__logo {
    position: absolute;
    top: 10px;
  }

  .page-header__logo-link:hover:before {
    background-image: url("../img/logo-pink-white-desktop-pink.svg")
  }

  .page-header__toggle {
    display: none;
  }

  .page-header--closed .main-nav__list {
    display: block;
  }

  .page-header--form .page-header__tagline {
    margin: 60px auto 0;
  }

  .page-header--photo .page-header__tagline {
    margin: 60px auto 0;
    padding: 0 160px;
  }

}

@media #{$desktop-widths} and (min-resolution: 1.5dppx) {

  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
