
.photo-editor {
  padding: 20px;
  background-color: $bg-color-block-1;
}

.page-photo__editor-tagline {
  padding: 22px 20px 42px ;
  line-height: 30px;
  text-align: center;
}

.page-photo__editor-tagline p {
  margin: 0;
}

.photo-editor__photo {
  padding: 0;
}

.photo-editor__photo img {
  width: 100%;
  height: auto;
}

.photo-editor__ranges {
  position: relative;
  padding: 110px 20px 40px;
  outline: 1px solid red;
}

.photo-editor__range {
  display: flex;
}

.photo-editor__range-icon {
  position: absolute;
  top: 40px;
  margin: 0 18px;
  width: 44px;
  height: 44px;
  outline: 1px solid red;
}


.photo-editor__range-1 .photo-editor__range-icon {
  left: 18px;
}

.photo-editor__range-2 .photo-editor__range-icon {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.photo-editor__range-3 .photo-editor__range-icon {
  right: 18px;
}

.photo-editor__range input {
  width: 100%;
}

.photo-editor__range input {
  display: none;
}

.photo-editor__range input.active {
  display: inline-block;
}

.photo-editor__buttons {
  padding: 15px 0;
}

.photo-editor__button {
  @include  big-btn

  color: $text-color-3;
  border: 3px solid $text-color-3;
  background-color: transparent;
  margin: 10px 0;
}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

.page-photo__editor-tagline {
  padding: 18px 20px 65px ;
  text-align: center;
}

.page-photo__editor-tagline p {
  @include medium-tagline
  margin: 0;
}

.photo-editor {
  padding: 20px;
  background-color: $bg-color-block-1;
}

.photo-editor__ranges {
  padding: 0 20px;
}

.photo-editor__range {
  display: flex;
}

.photo-editor__range-icon {
  width: 44px;
  height: 44px;
  outline: 1px solid red;
}

.photo-editor__range input {
  width: 100%;
}

.photo-editor__buttons {
  padding: 10px 0;
}

.photo-editor__button {
  @include  big-btn

  color: $text-color-3;
  border: 3px solid $text-color-3;
  margin: 10px 0;
}

}








