.photo-editor {

  background-color: $bg-color-block-1;
}

.page-photo__editor-container {
  background-color: $bg-color-block-1;
  padding: 20px 0;
}

.page-photo__editor-tagline {
  padding: 22px 0 42px ;
  line-height: 30px;
  text-align: center;
}

.page-photo__editor-tagline p {
  margin: 0;
}

.photo-editor__photo {
  padding: 0;
}

.photo-editor__photo img {
  width: 100%;
  height: auto;
}

.photo-editor__ranges {
  position: relative;
  padding: 110px 0 30px;
  border-bottom: 1px solid $br-color-2-inactive;
}

.photo-editor__range {
  display: flex;
  font-size: 0;
}

.photo-editor__range-icon {
  position: absolute;
  top: 40px;
  margin: 0 18px;
  width: 44px;
  height: 44px;
}

.photo-editor__range-1 .photo-editor__range-icon {
  left: 18px;
  background: url("../img/icon-editor-crop.svg") 50% 50% no-repeat;
}

.photo-editor__range-2 .photo-editor__range-icon {
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url("../img/icon-editor-fill.svg") 50% 50% no-repeat;
}

.photo-editor__range-3 .photo-editor__range-icon {
  right: 18px;
  background: url("../img/icon-editor-contrast.svg") 50% 50% no-repeat;
}

.hide-range {
  display: none;
}

.photo-editor__pseudo-range-box {
  position: relative;
  display: none;
  width: 100%;
  height: 1px;
  margin: 10px 18px 18px;
  background-color: $main-bg-color;
}

.photo-editor__range.active .photo-editor__pseudo-range-box {
  display: inline-block;
}

.photo-editor__pseudo-range {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 15px;
  background-color: $bg-color-block-1;
  border-radius: 50%;
  border: 2px solid $text-color-3;
}

.photo-editor__pseudo-range:active {
  background-color: $text-color-3;
  border: 2px solid $text-color-3;
}

.photo-editor__buttons {
  padding: 15px 0;
}

.photo-editor__button {
  @include  big-btn

  color: $text-color-3;
  border: 3px solid $text-color-3;
  background-color: transparent;
  margin: 10px 0;
}

.photo-editor__button:hover {
  color: $text-color-2;
  border: 3px solid $text-color-3;
  background-color: $text-color-3;
}

.photo-editor__button:active {
  color: rgba(255,255,255,0.3);
  border: 3px solid $text-color-3;
  background-color: $text-color-3;
}

.photo-editor__button[type="reset"] {
  @include  big-btn

  color: #dddfe0;
  border: 3px solid #dddfe0;
  background-color: transparent;
  margin: 10px 0;
}

.photo-editor__button[type="reset"]:hover {
  color: #c4c6c8;
  border: 3px solid #b5b9be;
  background-color: transparent;
}

.photo-editor__button[type="reset"]:active {
  color: #c4c6c8;
  border: 3px solid #b5b9be;
  background-color: #b5b9be;
}

@media #{$phone-widths-only} {

.photo-editor__range-1 .photo-editor__range-icon {
  left: 18px;
  background: url("../img/icon-editor-crop-gr.svg") 50% 50% no-repeat;
}

.photo-editor__range-2 .photo-editor__range-icon {
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url("../img/icon-editor-fill-gr.svg") 50% 50% no-repeat;
}

.photo-editor__range-3 .photo-editor__range-icon {
  right: 18px;
  background: url("../img/icon-editor-contrast-gr.svg") 50% 50% no-repeat;
}

.photo-editor__range-1.active .photo-editor__range-icon {
  left: 18px;
  background: url("../img/icon-editor-crop.svg") 50% 50% no-repeat;
}

.photo-editor__range-2.active .photo-editor__range-icon {
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url("../img/icon-editor-fill.svg") 50% 50% no-repeat;
}

.photo-editor__range-3.active .photo-editor__range-icon {
  right: 18px;
  background: url("../img/icon-editor-contrast.svg") 50% 50% no-repeat;
}

.photo-editor__range .photo-editor__range-icon:hover {
  opacity: 0.7;
}

.photo-editor__range.active .photo-editor__range-icon:hover {
  opacity: 1;
}

}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .page-photo__editor-tagline {
    padding: 18px 0 65px;
    text-align: center;
  }

  .page-photo__editor-tagline p {
    @include medium-tagline
    margin: 0;
  }

  .page-photo__editor-container {
    display: flex;
    justify-content: space-between;
    padding: 58px 0;
  }

  .photo-editor__photo {
    width: 300px;
    padding: 0;
  }

  .photo-editor__photo img {
    width: 100%;
    height: auto;
  }

  .photo-editor__preference {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    padding: 0;
  }

  .photo-editor__ranges {
    padding: 0;
    width: 274px;
    align-self: flex-end;
    border: none;
  }

  .photo-editor__range {
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 22px;
    margin: 0 auto 16px;
    border-bottom: 1px solid $br-color-2-inactive;
  }

  .photo-editor__range .photo-editor__range-icon {
    position: static;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 ;
    padding: 0;
    background-size: cover;
  }

  .photo-editor__range-3 .photo-editor__range-icon {
    background-size: 70%;
}

 .photo-editor__pseudo-range-box {
    display: inline-block;
    background-color: $br-color-1;
    position: relative;
    height: 1px;
    margin: 10px 18px 10px 35px;
  }

  .photo-editor__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 13px 0 10px;
  }

  .photo-editor__button {
    @include  big-btn

    color: $text-color-3;
    border: 3px solid $text-color-3;
    margin: 20px 0 0;
  }

  .photo-editor__button[type="reset"] {
    color: $br-color-2-inactive;
    border: 3px solid $br-color-2-inactive;
  }



}


/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .photo-editor {
    background-color: $bg-color-block-0;
  }

  .page-photo__editor-container {
    padding: 60px 60px 60px 80px;
    background-color: $bg-color-block-1
  }

  .photo-editor__preference {
    width: 410px;
    padding: 0;
  }

  .photo-editor__ranges {
    width: 100%;
    margin-top: -18px;
  }

  .photo-editor__range {
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin: 0 auto 0;
  }

  .photo-editor__pseudo-range-box {
    position: relative;
    display: inline-block;
    height: 1px;
    margin: 10px 30px 10px 55px;
  }


  .photo-editor__range .photo-editor__range-icon {
    width: 48px;
    height: 48px;
  }

  .photo-editor__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .photo-editor__button,
  .photo-editor__button[type="reset"] {
    margin: 0;
    width: 180px;
  }

}





