



/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

.page-photo__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 40px 30px;
}


}
