
.advantage {
  text-align: center;
  padding-top: 20px;
}

.advantage__tagline p {
  @include tagline
}

.advantage__container {
  position: relative;
  padding: 86px 0 282px;
  background-color: $bg-color-block-1;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
  background-size: 160px;
}

.advantage__container:before {
  @include oblique-angle

  height: 35px;
}

.advantage__card {
  margin-bottom: 35px;
}

.advantage__title {
  @include mobile-title

  color: $text-color-4;
}

.advantage__text {
  font-size: 14px;
  line-height: 24px;
}

.advantage__effect {
  display: none;
}

.advantage__effect a,
.advantage__effect a:hover,
.advantage__effect a:active,
.advantage__effect a:visited {
  color: $text-color-3;
}

@media (min-resolution: 1.5dppx) {

  .advantage__container {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }

}


/* Tablet */

@media #{$tablet-widths} {

  .advantage {
    padding-top: 50px;
    background-color: $body-bg;
  }

  .advantage__tagline p {
    @include big-tagline

    padding: 0;
    margin: 0;
  }

  .advantage__tagline p+p {
    padding: 0 100px;
    margin: 0;
  }

  .advantage__container {
    position: relative;
    margin-top: 38px;
    padding: 86px 0 5px;
    background: $bg-color-block-1;
    background-image: none;
  }

  .advantage__container:before  {
    height: 58px;
  }

  .advantage__container:after {
    content: "";
    position: absolute;
    width: $tablet-inner-width;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 270px auto;
  }

  .advantage__card-container {
    padding: 0;
    padding-left: 310px;
  }

  .advantage__card {
    text-align: left;
    width: auto;
    margin-bottom: 37px;
  }

  .advantage__effect {
    position: relative;
    display: block;
    text-align: left;
    padding: 94px 5px 96px 310px;
    background-color: $bg-color-block-0;
    background-image: url("../img/icon-timer2.svg");
    background-repeat: no-repeat;
    background-position: 0 60px;
    background-size: 240px auto;
  }

  .advantage__effect:before {
    content: "24";
    position: absolute;
    left: 62px;
    top: 140px;
    font-size: 100px;
    font-weight: bold;
    color: #d22856;
    width: 133px;
    height: 108px;
  }

  .advantage__effect-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  .advantage__effect-title span {
    display: block;
  }

  .advantage__effect p {
    margin-top: 10px;
    padding: 0;
    line-height: 24px;
  }

}

@media #{$tablet-widths} and (min-resolution: 1.5dppx) {

  .advantage__container {
    background-image: none;
  }

  .advantage__container:after {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
  }

}


/* Desktop */

@media #{$desktop-widths} {

  .advantage {
    text-align: left;
    padding-top: 68px;
    background-color: $body-bg;
  }

  .advantage__tagline p {
    font-size: 50px;
    padding: 0;
    margin: 0;
  }

  .advantage__tagline p+p {
    padding: 0 200px;
  }

  .advantage__container {
    width: auto;
    height: auto;
    padding: 0;
    background-color: $bg-color-block-1;
  }

  .advantage__card-container {
    height: auto;
    margin-top: 76px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantage__container:before  {
    height: 94px;
  }

  .advantage__container:after {
    display: none;
  }

  .advantage__card {
    box-sizing: border-box;
    width: 300px;
    min-height: 600px;
    margin: 0;
    padding-top: 355px;
    z-index: 5;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 286px auto;
  }

  .advantage__card--mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

  .advantage__card--change {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .advantage__card--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

  .advantage__title {
    color: $text-color-4;
    font-size: 30px;
    line-height: 30px;
    padding: 0;
  }

  .advantage__text {
    @include medium-tagline
    margin: 25px 28px;
  }

  .advantage__effect-container {
    background: $bg-color-block-1;
  }

  .advantage__effect {
    background-color: $bg-color-block-1;
    position: relative;
    display: block;
    padding: 116px 40px 116px 365px;
    background-position: 0 30%;
    background-size: 300px auto;
  }

  .advantage__effect:before {
    left: 78px;
    top: 134px;
    font-size: 120px;
    width: 160px;
    height: 150px;
  }

  .advantage__effect-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  .advantage__effect-title span {
    display: inline;
  }

  .advantage__effect p {
    @include medium-tagline

    margin-top: 20px;
    padding: 0;
    text-align: left;
  }

  .advantage__know-more {
    @include medium-tagline

    display: block;
    text-align: left;
    margin-top: 30px;
  }

}


@media #{$desktop-widths} and (min-resolution: 1.5dppx) {

  .advantage__card--mood {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
  }

  .advantage__card--change {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
  }

  .advantage__card--friends {
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
  }

}


