.intro {
  background-color: #1d2631;
  color: $text-color-2;
}

.intro__inner {
  margin-top: 390px;
  padding: 28px 0 26px;
  text-align: center;
}

.intro__download-btn {
  @include  big-btn

  color: $text-color-2;
  border: 3px solid $text-color-2;
  margin-bottom: 32px;
}

.intro__download-btn:hover {
  color: $text-color-3;
  border: 3px solid $text-color-2;
  background-color: $text-color-2;
}

.intro__download-btn:active {
  color: $text-color-3-03;
  border: 3px solid $text-color-2;
  background-color: $text-color-2;
}

.intro__download-apps {
  text-align: center;
  font-size: 0;
}

.intro__download-os {
  display: inline-block;
  vertical-align: bottom;
  padding: 0 18px;
}

.intro__download-os--win {
  padding-bottom: 5px;
}

.intro__description {
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 24px;
}

.intro__tagline {
  display: none;
}


/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .intro {
    background-color: transparent;
  }

  .intro__container {
    position: relative;
  }

  .intro__inner {
    width: 300px;
    margin: 0;
    padding-top: 90px;
  }

  .intro__tagline {
    @include big-tagline

    padding: 0 50px;
  }

  .intro__download-btn {
    margin: 30px 0 45px;
  }

  .intro__download-os--win {
    padding-bottom: 0;
  }

  .intro__description {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

}

/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .intro__container {
    position: relative;
  }

  .intro__inner {
    padding-top: 105px;
  }

  .intro__tagline {
    font-size: 50px;
    padding: 0;
  }

  .intro__download-btn {
    margin: 50px 0 67px;
    font-size: 21px;
    line-height: 18px;
  }

  .intro__description {
    margin-top: 55px;
  }

}
