
.price {
  position: relative;
  background-color: $bg-color-block-1;
  padding-top: 93px;
  padding-bottom: 15px;
  text-align: center;

  &:before {
    @include oblique-angle

    height: 30px;
  }

}

.price__table {
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  width: 940px;
  margin-bottom: 43px;
}

.price__table th,
.price__table td {
  box-sizing: border-box;
  border: 2px solid $br-color-1;
  width: 278px;
  height: 61px;
  border-top: none;
  border-bottom: none;
  font-size: 18px;
  line-height: 30px;
}

.price__table th {
  position: relative;
  height: 97px;
  padding: 0 25px;
  background-color: $bg-color-block-2;
  color: $text-color-2;
  border-bottom: 2px solid  $bg-color-block-2;
}

.price__table td {
  border: 2px solid $br-color-1;
  background-color: $bg-color-block-0;
  text-align: left;
  padding-left: 20px;
}

.price__table .price__first-cell {
  visibility: hidden;
  border: 2px solid transparent;
  border-bottom: 2px solid $br-color-1;
}

.price__price-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__price {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.price__legend-cell {
  text-align: left;
  position: relative;
}

.price__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
}

.price__legend--mobile {
  display: none;
}

.price__table .foo-yes {
  background: $bg-color-block-0 url('../img/icon-yes.svg') 93% 50% no-repeat;
  background-size: 30px;
}

.price__table .foo-no {
  background: $bg-color-block-0 url('../img/icon-no.svg') 92% 49% no-repeat;
  background-size: 26px;
}

.price__indicators {
  @include indicators
}

.price__indicator {
  @include inline-block
  @include no-btn
  @include indicator
}

.price__indicator.active,
.price__indicator.active:hover,
.price__indicator.active:active {
  @include indicator-active
}

.price__indicator:hover {
  @include indicator-hover
}

.review__indicator:active {
  @include indicator-press
}



.hit {
  overflow: hidden;
  position: relative;
}

.hit:before {
  content: "ХИТ";
  position: absolute;
  display: block;
  font-size: 15px;
  line-height: 15px;
  padding: 6px;
  font-weight: normal;
  width: 100px;
  background-color: $text-color-3;
  сolor: #ffffff;
  top: 8px;
  left: -30px;
  z-index: 5;
  transform: rotate(-45deg);
}

@media #{$phone-widths-only} {

  .price__slider {
    width: 100%;
    overflow: hidden;
  }

  .price__table {
    box-sizing: border-box;
    width: 800px;
    margin: 0;
  }

  .price__table.active-2 {
    margin-left: -278px;
  }

  .price__table.active-3 {
    margin-left: -556px;
  }

  .price__legend--mobile {
    display: inline-block;
  }

  .price__first-cell,
  .price__legend-cell {
    display: none;
  }

}

/////////////// Tablet /////////////////////

@media #{$tablet-widths} {

  .price {
    padding: 93px 0 25px;

    &:before {
      @include oblique-angle

      height: 58px;
    }
  }

  .price__indicators {
    display: none;
  }

  .price__table {
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }

  .price__table th,
  .price__table td {
    box-sizing: border-box;
    display: table-cell;
    border: 2px solid $br-color-1;
    width: auto;
    height: auto;
    padding: 10px;
    border-top: none;
    border-bottom: none;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 2px solid $br-color-1;
  }

  .price__table td {
    padding: 6px 15px;
    border: 2px solid $br-color-1;
    background-color: $bg-color-block-0;
  }

  .price__table th {
    background-color: $bg-color-block-2;
    color: $text-color-2;
    border-bottom: 2px solid  $bg-color-block-2;
  }

  .price__table th:first-child {
  border-left: 2px solid  $bg-color-block-2;
  border-bottom: 2px solid  $bg-color-block-2;
  }

  .price__table th.price__first-cell {
  border: 2px solid transparent;
  }

  .price__table th:last-child {
  border-right: 2px solid  $bg-color-block-2;
  }

  .price__table td:first-child {
  border-bottom: 2px solid  $bg-color-block-1;
  }

.price__table .price__first-cell {
  visibility: hidden;
  border-bottom: none;
  border-bottom: 2px solid $br-color-1;
}

.price__price-name {
  display: block;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.price__legend {
font-size: 14px;
line-height: 30px;
text-transform: none;
width: 100%;
}

.price__table .foo-yes {
  background: $bg-color-block-0 url('../img/icon-yes.svg') 50% 50% no-repeat;
  background-size: 30px;
}

.price__table .foo-no {
  background: $bg-color-block-0 url('../img/icon-no.svg') 50% 49% no-repeat;
  background-size: 26px;
}

.hit:before {
  top: 7px;
  left: -38px;
}

}

/////////////// Desktop /////////////////////

@media #{$desktop-widths} {

  .price {
    padding: 154px 0 50px;

    &:before {
      @include oblique-angle

      height: 94px;
    }
  }

.price__price-name {
  font-size: 18px;
}

.price__price {
  font-size: 24px;
  padding-bottom: 5px;
}

.price__table th,
.price__table td {
  padding: 15px;
}

.price__legend {
font-size: 18px;
}

.price__table .price__legend-cell {
  padding-left: 20px;
}

.hit:before {
  padding: 6px;
  top: 10px;
  left: -30px;
}

}
