
.review {
  position: relative;
  min-height: 200px;
  position: relative;
  padding: 50px 0 5px;
  text-align: center;
  background-color: $body-bg;
}

.review__indicators {
  @include indicators
}

.review__indicator {
  @include inline-block
  @include no-btn
  @include indicator

  vertical-align: middle;
}

.review__indicator.active,
.review__indicator.active:hover,
.review__indicator.active:active {
  @include indicator-active
}

.review__indicator:hover {
  @include indicator-hover
}

.review__indicator:active {
  @include indicator-press
}

.review__slider-btns {
  display: none;
}

.review__card {
  margin: 0;
}

.review__info {
  font-style: normal;
  margin: 0;
}

.review__author {
  @include mobile-title
}

.review__author-desc {
  display: none;
}

.review__text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 18px;

  &:before {
    content: "\ab";
  }

  &:after {
    content: "\bb";
  }
}


/* Tablet */

@media #{$tablet-widths} {

  .review {
    padding: 15px 0;

    &:before {

      height: 58px;
    }
  }

  .review__card {
    display: flex;
    flex-direction: column-reverse;
  }

  .review__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;

    &:before {
      content: "\ab";
    }

    &:after {
      content: "\bb";
    }
  }

  .review__author {
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }

  .review__author-desc {
    display: block;
    font-size: 14px;
    line-height: 30px;
  }

  .review__indicators {
    @include indicators

    margin-bottom: 6px;
  }

}


/* Desktop */

@media #{$desktop-widths} {

  .review {
    min-height: 200px;
    padding: 185px 0 25px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: auto;
    position: relative;
  }

  .review__text {
    position: relative;
    padding: 0 125px;
    margin: 0 0 30px;

    &:before,
    &:after {
      display: none;
    }
  }

  .review__author {
    font-size: 24px;
    line-height: 30px;
    margin: 5px;
  }

  .review__author-desc {
    @include medium-tagline
  }

  .review__indicators {
    @include visually-hidden
  }

  .review__slider-btns {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 125px;
    padding: 0 5px;
  }

  .review__slider-btn {
    @include no-btn

    width: 32px;
    height: 32px;
    border-bottom: 3px solid $br-color-1;
    border-left: 3px solid $br-color-1;
  }

  .review__slider-btn--prev {
    transform: rotate(45deg);
  }

  .review__slider-btn--next {
    transform: rotate(-135deg);
  }

  .review__slider-btn:hover {
    border-bottom: 3px solid #7e868f;
    border-left: 3px solid #7e868f;
  }

  .review__slider-btn:active {
    border-bottom: 3px solid #e9ebec;
    border-left: 3px solid #e9ebec;
  }

}
